
/* -------------- MAIN GRID -------------- */

body{
    background-color: #30343D;

    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;  

    flex-direction: column;

    flex-grow: 1;

    overflow: hidden
}


nav{
    background-color: #202C33;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0px;
    border: 1px solid;
    border-color: black;

    flex-grow: 1;
    z-index: 10;     /* To cover any content with auto z-index after we scrool */

    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;    

    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#body_panel{

    background-color: #070707;
    flex-grow: 6;
    height: 100vh;

    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;    

    flex-direction: row;

}

/* ------- NAVEGATION: COMPANY LOGO AND NAME ------- */
.logo{
    width: 15%;
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0.5;
    padding-right: 10px;
    padding-left: 10px;
}



/* ------------ NAVEGATION: MENU ------------ */
.menu{
    width: 20%;
    flex-grow: 5;

    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
    
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    justify-content: space-evenly;
}

.menu label{
    color: white;
    text-decoration: none;
    font-size: 100%;
}

#contact_list{
    display: none;
}

#hamburger_menu{
    display:none;
    visibility: hidden;
    cursor: pointer;

    transition: visibility 0s 0.6s;
    height: 50px;
    width: 50px;
}

#hamburger_menu .bar{
    display:block;
    background-color: white;
    border-radius: 10px;
    width: 30px;
    height: 3.5px;
    margin: 2.5px;

}

.menu label:hover{
    color: #55e3ff;
    font-size: 130%;
}

.logo_container{
    width: 200px;  
    height: 100px;  

    text-align: center;  
    overflow: hidden;

    flex-grow: 2;
}

.logo_image{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


/* ------- NAVEGATION: USER PROFILE -------- */
.profile{
    width: 20%;
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;  

    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    font-size: 23px;
    flex-grow: 2;

    padding-left: 8px;
}

.profile div{
    background-color: black;
    -webkit-clip-path: circle(42.0% at 49% 48%);
    clip-path: circle(42.0% at 47% 46%);
    height: 3.2em;
    width: 3.2em;
}

.profile_picture{
    -webkit-clip-path: circle(42.0% at 50% 49%);
    clip-path: circle(42.0% at 50% 49%);
    height: 3em;
    width: 3em;
}

nav .profile_name{
    padding-left: 0.5em;
    color: #55e3ff;
}

/* ---------- MAIN BODY PANELS ----------- */

#contacts_panel{
    background-color: #111B21;
    flex-grow: 1;
    min-width: 420px;
    min-height: 0px;
    margin-bottom: 0px;

    overflow-y: scroll;
    scrollbar-width: thin;

    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;  

    flex-direction: column;
}

#contacts{
    padding-bottom: 100px;
}

#chat_panel{

    background-image: url("../resources/patternBackground.jpg");  
    flex-grow: 5;

    overflow: auto;
    overflow-y: scroll;
    scrollbar-width: thin;

    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;  

    flex-direction: column;
}

#sub_chat_panel{
    padding-bottom: 100px;
}

/* ---------- SEARCH BOX ----------- */

#search_panel{
    background-color: #111B21;
    display: grid;
    place-items: center;
    border: 1px solid;
    padding: 1em;
}


.search_tool{
    width: 90%;
    height: 35px;
    border-width: 2px;
    background-color: #111B21;
    color: #2a3942;
    border-radius: 10px;
    outline: none;
    border-style: solid;

    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;  

    flex-direction: row;
    justify-content: center;

}

#input_search{
    color: #55e3ff;
    font-size: 100%;
    background-color: #202C33;
    border-style: none;
    outline: none;
    border-radius: 10px;

    padding-left: 5%;
    padding-right: 5%;

    flex-grow: 6;
}

#input_search:-webkit-autofill,
#input_search:-webkit-autofill:hover, 
#input_search:-webkit-autofill:focus, 
#input_search:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #202C33 inset;
    box-shadow: 0 0 0 30px #202C33 inset;
    -webkit-text-fill-color: #55e3ff;
}

#input_search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%2355e3ff' class='bi bi-x-lg' viewBox='0 0 16 16'%3E%3Cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/%3E%3C/svg%3E");
    background-size: 15px 15px;
}

.search_button{
    background:  none;
    outline: none;
    border-style: none;
    flex-grow: 1;
}

.icon_color{
    color: white;
}

.search_tool:hover{
    border-color: #55e3ff;
}

.search_tool:hover .icon_color{
    color: #55e3ff;
}

.search_tool:focus{
    border-color: #55e3ff;
}

/* ---------- INSIDE CONTACTS PANEL ----------- */

.contact{
    min-height: 71px;
    background: none;    
    border-style: solid;
    border-top-width: 0.1px;
    border-color: #2a3942;
    overflow: auto;
    color: white;

    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;  

    flex-direction: row;
    justify-content:flex-start;
    align-items: center;

    padding-left: 20px;
}

.contact .profile_picture_background{
    background-color: black;
    -webkit-clip-path: circle(42.0% at 49% 48%);
    clip-path: circle(42.0% at 47% 46%);
    height: 4.2em;
    width: 4.2em;
}

.contact .profile_picture{
    height: 4em;
    width: 4em;
}

.contact .profile_name{
    color: inherit;
    padding-left: 0.5em;
    font-size: 1em;
}

.contact:hover{
    box-shadow: 0 0.3em 0.5em -0.4em #55e3ff;
/* 
    -webkit-box-shadow: -3px 0px 5px 0px #55e3ff;
    -moz-box-shadow: -3px 0px 5px 0px #55e3ff;
    box-shadow: -3px 0px 5px 0px #55e3ff; */

    background-color: #2A3942;    
    color: #55e3ff;
    transform:translateX(0.5em);
    border-radius: 3px;
    /* transform: rotate(-1deg); */
}

/* ---------- INSIDE CHAT PANEL: ADDING MESSAGES ----------- */

#adding_message_panel{

    background-color: #111B21;
    border: 1px solid;
    padding: 1em 2em;

    position: sticky;
    bottom: 100px;
    /* left: 418px;
    width: calc(96vw - 420px);  */

}

.message_editor{
    height: 35px;
    border-width: 2px;
    background-color: #111B21;
    color: #2a3942;;
    border-radius: 10px;
    outline: none;
    border-style: solid;

    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;  

    flex-direction: row;
    justify-content: center;

}

#add_text_message{

    color: #55e3ff;
    font-size: 130%;
    background-color: #202C33;
    border-style: none;
    outline: none;
    border-radius: 10px;

    padding: 0.8% 1.5%;
    flex-grow: 8;
}

.send_message_button{
    background:  none;
    outline: none;
    border-style: none;
    flex-grow: 1;
}

.dialog_image{
    margin: 1em 0 1em;
    border-radius: 10px;
    display: block;
    width: 50%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
}

.message_editor:hover{
    border-color: #55e3ff;
}

.message_editor:hover .icon_color{
    color: #55e3ff;
}

.message_editor:focus{
    border-color: #55e3ff;
}


/* ---------- INSIDE CHAT PANEL: MESSAGES HISTORY ----------- */

.message_block_send{
    min-height: 155px;
    background: none;

    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;  

    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    margin-top: 10px;
}

.message_block_response{
    min-height: 155px;
    background: none;

    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;  

    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin-top: 10px;
    
}

.dialog_box_received{
    background-color: rgba(75, 223, 210, 0.92);
    color: black;

    inline-size: 100%;
    overflow-wrap: break-word;
    hyphens: manual;

    border-radius: 0 1em 1em 1em;
    padding: 20px 20px; 

}

.dialog_box_send{
    background-color: rgba(108, 198, 250, 0.92);
    color: black;

    inline-size: 100%;
    overflow-wrap: break-word;
    hyphens: manual;

    border-radius: 1em 0 1em 1em;
    padding: 20px 20px; 
}

/* .dialog_box_send_add_on{
    width: 45px;
    height: 67px;
    background-color: red;
    clip-path: polygon(12.4% 0%, 0% 25.8%, 0% 0%);
} */

.dialog_bubble_send{
    max-width: 50%;
    min-width: 80px;
    min-height: 34px;
    background: none;
    margin-right: 55px;
}

.dialog_bubble_received{
    max-width: 50%;
    min-width: 80px;
    min-height: 34px;
    background: none;
    margin-left: 20px;
}

/* ------------ SLIDE PANEL ------------ */

.slider_panel {
    visibility: hidden;
    transition: visibility 0s 0.6s;
  }

  .slider_panel.visible_slider {
    visibility: visible;
    transition: visibility 0s 0s;
  }

  .slider_header {
    position: fixed;
    width: 420px;
    top: 100px;
    height: 50px;
    transition: transform 0.3s 0s;
    transform: translateY(-50px);
    background-color: #2a3942;
    z-index: 5;
    
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;  

    align-items: center;
    justify-content: center;
  }

  .visible_slider .slider_header {
    transition: transform 0.3s 0.3s;
    transform: translateY(0px);
  }

   .slider_panel_from_left .slider_header {
    left: 0;
  }

  .slider_container {
    position: fixed;
    width: 420px;
    height: 100vh;
    top: 101px;
    transition: transform 0.3s 0.3s;
    background-color: #111B21;
    z-index: 1;
    padding-top: 70px;

  }

  .slider_content{
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;  

    flex-direction: column;

  }

  .slider_header h1{
    flex-grow: 7;
  }

  .slider_close_button{
    flex-grow: 1;
    cursor: pointer;

    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;  

    flex-direction: row;
    justify-content: center;


    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

  .slider_panel_from_left .slider_container {
    left: 0;
    transform: translate3d(-100%, 0, 0);
  }

  .visible_slider .slider_container {
    transform: translate3d(0, 0, 0);
    transition-delay: 0s;
  } 

  .slider_panel_title{
    text-decoration: none;
    font-size: 100%;
    color:  white;
    padding-left: 50px;
  }

 .form_inputs{
    color: #55e3ff;
    background: none;
    outline: none;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: white;

    margin: 2em 3em 50px;
    font-size: 1em;

    transition: all 100ms ease-in-out;
 }


.icon_form{
    color: white;
    width: 35px;
    height: 35px;
    cursor: pointer;
 }
  
.slider_close_button:hover{
    transform: rotate(0.5turn);
  }

.form_inputs:hover{
    color: #55e3ff;
    border-color: #55e3ff;
    box-shadow: 0 0.5em 0.5em -0.4em #55e3ff;
}

.icon_form:hover{
    color: #55e3ff;
    width: 40px;
    height: 40px;
}

/* ------------ MEDIA QUERIES ------------ */


@media (max-width: 800px){

    .message_block_send{
        flex-wrap: wrap;
        justify-content:center;
    }
    
    .message_block_response{
        flex-wrap: wrap;
        justify-content:center;
    }

    .logo_container{
        display: none;
    }
    
}

@media (max-width: 1040px){

    #contacts_panel{
        display:none
    }

    #contact_list{
        display: inherit;
    }

    /* ------------ HUMBURGER MENU ------------ */

    #hamburger_menu{
        display: block;
        visibility: visible;
        transition: visibility 0s 0s;
        flex-grow: 1;
        text-align: right;
        padding-right: 40px;
        
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: -webkit-flex; 
        display: flex; 
    
        flex-direction: column;
    
        align-items: flex-end;
        justify-content: center;

        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    #hamburger_menu.active .bar:nth-child(2){
        opacity: 0;
    }

    #hamburger_menu.active .bar:nth-child(1){
       transform: translateY(8.5px) rotate(45deg);
    }

    #hamburger_menu.active .bar:nth-child(3){
        transform: translateY(-8.5px) rotate(-45deg);
     }

    .menu{
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #202C33;
        width: 100%;
        height: 170px;
        text-align: center;
        transition: 0.5s;
    }

    .menu .menu_options{
        margin: 16px 0;
    }

    .menu.active{
        left: 0;
    }

    /* ------------ SLIDER PANEL ------------ */

    .slider_header{
        width: 100%;
    }

    .slider_container{
        width: 100%;
    }

}

/* @media (max-width: 1332px) {


} */

